# Dependencies
node_modules/
.pnp
.pnp.js

# Next
.next/
out/
build/
dist/

# Production
*.log

# Local env
.env*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.vercel
.env*
!.env.example
